# NEXT_PUBLIC_NFT_STORAGE_KEY=
# NEXT_PUBLIC_WALLET_PRIVATE_KEY=
NEXT_PUBLIC_DAPP_ADDRESS=0x1096c2cf071ca8af3ec04cd3a537f687f9bc87c1
export NEXT_PUBLIC_DAPP_NAME=DID
NEXT_PUBLIC_MARKET_FEE_NUMERATOR=10
NEXT_PUBLIC_MARKET_INITIAL_FUND=10000
export NEXT_PUBLIC_MARKET_COIN_TYPE=0x1::aptos_coin::AptosCoin
export NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_SUPABASE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
